@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background: #FFCC70;
}

/* globals.css */
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* ตั้งค่า Z-index ให้สูงกว่าเพื่อให้ Navbar อยู่ด้านหน้าสุด */
}
